#swira-footer {
    background: #fff url('../images/bott1.jpg') top center no-repeat;
    height: 272px;
    color: #fff;
    p {
        font-size: 15pt;
    }
    h1, h2, h3, p { color: #fff; }
    h2 {
        @include h1();
    }
}

