@font-face{
font-family:"EurostileLTW01-Ex2";
src:url("Fonts/788248/aaefe22a-b1b6-47a7-9695-0211ccdb32bd.eot?#iefix");
src:url("Fonts/788248/aaefe22a-b1b6-47a7-9695-0211ccdb32bd.eot?#iefix") format("eot"),url("Fonts/788248/4c4362d1-7674-4e53-a249-7b1a25b4e9e9.woff") format("woff"),url("Fonts/788248/2fb749ff-5f5a-43e3-b7c3-3e11d08fb4fc.ttf") format("truetype"),url("Fonts/788248/09063c9b-bf25-4156-bace-c2dfdb87a87b.svg#09063c9b-bf25-4156-bace-c2dfdb87a87b") format("svg");
}
@font-face{
font-family:"EurostileLTW01-BoldEx2";
src:url("Fonts/788230/c1982565-45b6-44fa-84d5-bcdb29d746ea.eot?#iefix");
src:url("Fonts/788230/c1982565-45b6-44fa-84d5-bcdb29d746ea.eot?#iefix") format("eot"),url("Fonts/788230/8ede3053-a8ab-4a0e-9530-6d4a6fe7c728.woff") format("woff"),url("Fonts/788230/4f726320-7cfe-45f1-80a2-a0537d13b041.ttf") format("truetype"),url("Fonts/788230/db8323ee-a212-4238-b0b2-978d47160852.svg#db8323ee-a212-4238-b0b2-978d47160852") format("svg");
}
